<div class="container">
    <h3>Osnovni podaci o testu:</h3>
    <div class="well">
        <div>
            <label>Naziv: {{testDTO.Name}}</label>
        </div>
        <div>
            <label>Trajanje [min]: {{testDTO.Duration}}</label>
        </div>
        <div>
            <label>Granica prolaznosti [%]: {{testDTO.PassingLimit}}</label>
        </div>
        <div>
            <label>Aktivan: {{testDTO.IsActive}}</label>
        </div>
        <div>
            <label>Ukupno pitanja: {{testDTO.TotalQuestions}}</label>
        </div>
        <div>
            <label>Ukupno pitanja za test: {{testDTO.TotalExamQuestions}}</label>
        </div>
    </div>
</div>