<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4>
                Test Info
            </h4>
        </div>
        <div class="panel-body">
            <div>
                <label>Naziv: {{testDTO.Name}}</label>
            </div>
            <div>
                <label>Trajanje [min]: {{testDTO.Duration}}</label>
            </div>
            <div>
                <label>Granica prolaznosti [%]: {{testDTO.PassingLimit}}</label>
            </div>
            <div>
                <label>Status: {{testDTO.Status}}</label>
            </div>
            <div>
                <label>Ukupno pitanja: {{testDTO.TotalQuestions}}</label>
            </div>
            <div>
                <label>Ukupno pitanja za test: {{testDTO.TotalExamQuestions}}</label>
            </div>
        </div>
    </div>
</div>
